body {
  font-family: PT Sans, sans-serif;
}

.blue {
  background: #075CB5;
  height: 62px;
}

.col-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.col-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.col-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.logo-text {
  font-style: italic;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  top: 2px;
}

.text-indent {
  text-indent: 20px;
}

.card-col-block {
  margin-bottom: 23px;
}

.card-col-block img {
  width: 100%;
}

.card-text {
  padding: 15px;
}

.card-text__big {
  padding: 25px 27px 20px 34px;
}

.card-links__big {
  margin-top: 30px;
}

.card-bottom {
  margin-top: 96px;
}

.card-bottom-block {
  margin-bottom: 36px;
}

.link-first {
  display: inline-block;
  margin-right: 25px;
}

.link-second {
  color: #014C8C;
}

.border-gray {
  border-color: #E5E5E5;
}

.button-small {
  margin-right: 25px;
}

.card-col-block {
  margin-bottom: 23px;
}

.card-col-block img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .card-text {
    padding: 13px;
  }
  .card-text__big {
    padding: 25px 27px 20px 34px;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .col-button {
    width: 100%;
  }
  .col-buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
