body {
    font-family: PT Sans, sans-serif;
}
.blue {
    background: #075CB5;
    height: 62px;
}
.col {
    &-header {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    &-button {
        display: flex;
        justify-content: flex-start;
        &s {
            display: flex;
            justify-content: flex-end;
        }
    }
}
.logo-text {
    font-style: italic;
    font-weight: bold;
    font-size: 13px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #FFFFFF;
    position: relative;
    top: 2px
}
.text-indent {
    text-indent: 20px;
}
.card {
    &-col-block {
        margin-bottom: 23px;
        img {
            width: 100%;
        }
    }
    &-text {
        padding: 15px;
        &__big {
            padding: 25px 27px 20px 34px;
        }
    }
    &-links {
        &__big {
            margin-top: 30px;
        }
    }
    &-bottom {
        margin-top: 96px;
        &-block {
            margin-bottom: 36px;
        }
    }
}
.link {
    &-first {
        display: inline-block;
        margin-right: 25px;
    }
    &-second {
        color: #014C8C;
    }
}
.border-gray {
    border-color: #E5E5E5;
}

.button-small {
    margin-right: 25px;
}
.card-col-block {
    margin-bottom: 23px;
    img {
        width: 100%;
    }
}
@media screen and (max-width: 1199px) {
    .card {
        &-text {
            padding: 13px;
            &__big {
                padding: 25px 27px 20px 34px;
            }
        }
    }
}
@media screen and (max-width: 991px) {
    html {
        font-size: 14px;
    }
}
@media screen and (max-width: 767px) {
    .col-button {
        width: 100%;
        &s {
            flex-wrap: wrap;
        }
    }
}
